.services {
  background-color: rgba(85, 90, 90, 0.4);
  border-radius: 38px;
  padding: 5px 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  max-width: 100%;
  overflow: hidden;
}

.servicesTitle {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 38px;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0;

  @media screen and (min-width: 780px) {
    margin-bottom: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
  }
}

.active {
  border: 1px solid #ccc;
}

.servicesItem {
  padding: 5px 25px;
  border-bottom-right-radius: 38px;
  border-top-left-radius: 38px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    border: 1px solid #ccc;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.selectedServiceItem {
  margin-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.selectedServiceTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.selectedServiceDescription {
  font-size: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: 780px) {
    font-size: 18px;
  }
}
