.services {
  background-color: rgb(85, 90, 90, 0.4);
  border-radius: 38px;
  border: transparent;
  padding: 5px 10px;
  margin-bottom: 40px;
}

.servicesTitle {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 102, 0, 0.4);
  border-bottom-right-radius: 38px;
  border-bottom-left-radius: 38px;

  list-style-type: none;
  padding: 0;
}

.servicesItem {
  padding: 5px 10px;
  border-radius: 38px;

  box-shadow: #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.servicesItem:hover {
  background-color: rgb(255, 102, 0, 0.4);
}

.selectedService {
  margin-top: 24px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.selectedServiceTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.selectedServiceDescription {
  font-size: 16px;
}
