.contactForm {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(85, 90, 90, 0.4);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.form {
  margin-bottom: 20px;
  max-width: 100%;
}

.contactForm label {
  font-size: 16px;
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

.contactForm input,
.contactFormtextarea {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contactForm textarea {
  height: 100px;
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contactForm select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
