.advantages {
  margin-bottom: 20px;
  text-transform: uppercase;
  @media screen and (min-width: 780px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}
.advantagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 32px;
  margin-right: 0;
  margin-top: 32px;
  @media screen and (min-width: 780px) {
    margin-bottom: 60px;
    gap: 32px;
  }
}
.advantagesItem {
  width: calc((100% - 1 * 16px) / 2);
  height: 100px;
  padding: 0 auto;
  background-color: rgb(85, 90, 90, 0.4);
  border-radius: 38px;
  border: transparent;
  font-size: 12px;

  @media screen and (min-width: 780px) {
    width: calc((100% - 1 * 32px) / 2);
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
}

.advantagesTitle {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px 10px;
  /* text-align: center; */
}
.advantagesText {
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
}
