.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  gap: 20px;

  @media screen and (min-width: 780px) {
    gap: 50px;
  }
}

.link {
  display: inline-block;
  margin: 0 10px;
}

.img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
