.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  @media screen and (min-width: 780px) {
    padding: 160px;
  }
}

.four {
  font-size: 100px;
  font-weight: 100;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 780px) {
    font-size: 160px;
  }
}

.message {
  font-size: 24px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 12px 24px;
  font-size: 36px;
  cursor: pointer;
  border-radius: 38px;
  margin: 0 auto;
  font-weight: bold;
  border: 1px solid #ccc;
  gap: 15px;
}
